.cart-product__favourite {
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 10px;
    box-sizing: border-box;
    color: rgba(23, 105, 106, .8);
    border: solid 2px #fff;
    background-color: #fff;
}

.cart-product__favourite:hover {
    transform: scale(105%);
    border: solid 2px rgba(23, 105, 106, 0.6);
}