.popup__close {
    z-index: 2;
    position: absolute;
    top: -20px;
    right: -30px;
    background-color: #1ec4c6;
    width: 25px;
    height: 3px;
    border: 0;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.popup__close::after{
    content: '';
    background-color: #1ec4c6;
    display: block;
    width: 3px;
    height: 25px;
    transform: translate(5px,-50%);
}

.popup__close:hover {
    transform: rotate(-45deg) scale(110%);
}