.category {
    font-size: 16px;
    padding: 4px;
    text-transform: capitalize;
    cursor: pointer;
}

.category:hover {
    background-color:rgba(23, 105, 106, 0.1);
}

.category.choice {
    background-color:rgba(23, 105, 106, 0.2);
}